# SPDX-FileCopyrightText: 2023 Mathis Brüchert <mbb@kaidan.im>
#
# SPDX-License-Identifier: GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL

[Desktop Entry]
Name=Rattlesnake
Name[ca]=Rattlesnake
Name[ca@valencia]=Rattlesnake
Name[cs]=Rattlesnake
Name[de]=Rattlesnake
Name[en_GB]=Rattlesnake
Name[eo]=Rattlesnake
Name[es]=Rattlesnake
Name[eu]=Rattlesnake
Name[fi]=Rattlesnake
Name[fr]=Rattlesnake
Name[gl]=Rattlesnake
Name[it]=Rattlesnake
Name[ka]=Rattlesnake
Name[ko]=Rattlesnake
Name[nl]=Rattlesnake
Name[pl]=Rattlesnake
Name[pt]=Rattlesnake
Name[pt_BR]=Rattlesnake
Name[sl]=Rattlesnake
Name[tr]=Çıngıraklı Yılan
Name[uk]=Rattlesnake
Name[x-test]=xxRattlesnakexx
Comment=A metronome app for mobile and desktop
Comment[ca]=Una aplicació de metrònom per al mòbil i l'escriptori
Comment[ca@valencia]=Una aplicació de metrònom per al mòbil i l'escriptori
Comment[cs]=Aplikace metronom pro mobilní zařízení či počítače
Comment[en_GB]=A metronome app for mobile and desktop
Comment[eo]=Metronom-aplikaĵo por poŝtelefono kaj labortablo
Comment[es]=Aplicación de metrónomo para el móvil y el escritorio
Comment[eu]=Mugikorrerako eta mahaigainerako metronomo aplikazio bat
Comment[fi]=Metronomisovellus mobiiliin ja työpöydälle
Comment[fr]=Une application de métronome pour mobiles et ordinateurs de bureau
Comment[gl]=Unha aplicación de metrónomo para móbil e escritorio
Comment[it]=Un'applicazione di metronomo per dispositivi mobili e desktop
Comment[ka]=მეტრონომის აპლიკაცია მობილურისა და სამუშაო მაგიდისთვის
Comment[ko]=모바일과 데스크톱용 메트로놈 앱
Comment[nl]=Een toepassing voor mobiel en bureaublad van een metronoom
Comment[pl]=Metronom na biurko i przenośny
Comment[pt]=Uma aplicação de metrónomo para computadores e dispositivos móveis
Comment[pt_BR]=Um aplicativo de metrônomo para celular e computador
Comment[sl]=Aplikacija metronoma za mobilne naprave in namizje
Comment[tr]=Taşınabilir ortamlar ve masaüstü için bir metronom uygulaması
Comment[uk]=Програма-метроном для мобільних пристроїв та робочих станцій
Comment[x-test]=xxA metronome app for mobile and desktopxx
Version=0.1
Exec=rattlesnake
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
Icon=org.kde.rattlesnake
